main {
  height: 100vh;
  overflow: auto;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

.center-content {
  width: max-content;
  margin: 4rem auto;
}

.border-form {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
}

.capitalize {
  text-transform: capitalize;
}
